<!--
besoin : 
-l'acces sur cette page depuis la page principale(recherche routing des composants).
-cote html rajout des éléments depuis primeng(tableau,donnee en dure).
-creation requette get (api/service"userManagment":getuser).
-affichage des donnees dans le componsant userManagment.-->


<div class="card">
  

<p-table [value]="users">
    <ng-template pTemplate="header">
      <tr>
        <th>id</th>
        <th>Email</th>
        <th>Password</th>
        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.type.join(', ') }}</td>
      </tr>
    </ng-template>
  </p-table>
  </div>
  <div class="card flex justify-content-center">
    <p-button label="Submit" class="spaced-button" (click)="submitUser()"></p-button>
    <p-button label="Update" class="spaced-button" (click)="updateUser()"></p-button>
    <p-button label="Delete" class="spaced-button" (click)="deleteUser(selectedUser.id)"></p-button>
  </div>